<%- include("common/header") -%>

<link rel="stylesheet" href="styleRes.css">

<body>
    <div class="container">

        <%- include("common/navBar") -%>

        <div class="results">
            <h1>Schedule for <%=day %></h1>
            <% for( var i = 0; i < imgUrl.length; i++ ) { %>
            <div class="info">
                <a href="/<%=title[i] %> "><img src="<%=imgUrl[i] %> " alt=""></a>
                <% if(title[i].length > 49) {%> 
                    <h2><%=title[i].substring(0, 50)%>...</h2>
                <% } %> 

                <%if(title[i].length <= 49) {%>
                    <h2><%=title[i]%></h2>
                <% } %> 

            </div>
            <% } %>
        </div>

    </div>
    
    <%- include("common/footer") -%>  

</body>

</html>